<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Opções de Administrador</h1>
<%= link_to 'Product', products_path %>
<%= link_to 'Fabricante', fabricantes_path %>
<%= link_to 'Admin', admins_path %>
<%= link_to 'Category', categories_path %>

