<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Catalogo de Produtos</h1>

<% @products.each do |product| %>
<div class="entry">
<%= 
image_tag(Photo.select(photo.path).where(pr.nome=Product.find_by_name(product.name))).joins(as photo inner join pr on photo.product_id= pr.id)
<h3><%= product.name %></h3>
<%= sanitize(product.description) %>
<div class="price_line">
<span class="price"><%= product.price %></span>
</div>
</div>
<% end %>