<h1>Listing admins</h1>
<div class="conteudo">
<%= link_to 'Voltar para Admin', controls_path %> 

<table>
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr>
    <td><%= admin.name %></td>
    <td><%= admin.login %></td>
    <td><%= admin.password %></td>
    <td><%= link_to 'Show', admin %></td>
    <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
    <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin', new_admin_path %> |
<%= link_to 'Home', user_path %>
</div>
