<p id="notice"><%= notice %></p>
<div class="conteudo">

<p>
  <b>Name:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Login:</b>
  <%= @admin.login %>
</p>

<p>
  <b>Password:</b>
  <%= @admin.password %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %> |
<%= link_to 'Voltar para Admin', controls_path %> |
<%= link_to 'Home', user_path %>
</div>
