<% @product.each do |produto|%>

<p>
  <b>Name:</b>
  <%= produto.name %>
</p>

<p>
  <b>Price:</b>
  <%= produto.price %>
</p>

<p>
  <b>Main photo:</b>
  <%=image_tag( produto.main_photo) %>
</p>

<p>
  <b>Description:</b>
  <%= produto.description %>
</p>
<div id="photos">
  <% for photo in produto.photo %>
    <div class="photo">
      <%= image_tag photo.image_url.to_s if photo.image? %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<%= link_to 'Voltar', user_path %> 

<% end %>
