	<div id="menu">
		<ul>
		<% @categories.each do |categoria| %>
			<li><%= link_to categoria.name, :controller => "menu", :action => "index", :id => categoria.id %></li>
		<% end %>
		</ul>
	</div>
<p><%= will_paginate @posts %></p>

<% @product.each do |produto|%>

<div class="conteudo">
<p>
  <b>Name:</b>
  <h3><%=link_to product.name, :controller => "interface_cliente", :action => "show_product", :produto => product.id %></h3>
</p>

<p>
  <b>Description:</b>
  <%= truncate(strip_tags(produto.description),
length: 80) %>
</p>

<div id="photos">
  <% for photo in produto.photo %>
    <div class="photo">
      <%= image_tag photo.image_url.to_s if photo.image? %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p>
  <b>Price:</b>
  <%= number_to_currency(produto.price) %> <%= button_to 'Add to Cart', line_items_path(product_id: produto) %>
</p>

<%= link_to 'Voltar', user_path %> |
<%= link_to 'Home', user_path %>
</div>

<% end %>

