	<div id="menu">
		<ul>
		<% @categories.each do |categoria| %>
			<li><%= link_to categoria.name, :controller => "menu", :action => "index", :id => categoria.id %></li>
		<% end %>
		</ul>
	</div>

<div class="conteudo">
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<div class="category_line">
	<b>Categoria: </b>
	<% if @product.category.name %>
	    <span class="category"><%= @product.category.name %></span>
	<% end %>	
</div>

<p>
  <b>Main photo:</b>
  <%=image_tag( @product.main_photo) %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>
<div id="photos">
  <% for photo in @product.photo %>
    <div class="photo">
      <%= image_tag photo.image_url.to_s if photo.image? %>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
<%= link_to 'Home', user_path %> | 
<%= link_to 'Voltar', buscas_path %> 
</div>

