
﻿<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Carrinho de compras</h1>
<div id="menu">
		<ul>
		<% @categories.each do |categoria| %>
			<li><%= link_to categoria.name, :controller => "menu", :action => "index", :id => categoria.id %></li>
		<% end %>
		</ul>
	</div>
<div class="conteudo">
<table>
	<% @cart.line_items.each do |item| %>
	<tr>
		<td class="quantidadeProd"><%= item.quantity %>&times;</td>
		<td><%= item.product.name %></td>
		<td class="item_price"><%= number_to_currency(item.total_price) %></td>
	</tr>
	<% end %>
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
	</tr>
</table>

<%= button_to "Checkout", new_order_path, method: :get %>
<%= button_to 'Limpar o carrinho', @cart, method: :delete, confirm: 'Você tem certeza?' %>
<%= link_to 'Voltar', user_path %> 
</div>
