<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Opções de Administrador</h1>
<span id="links"><%= link_to 'Cliente', stores_path %></span> <br/>
<%= link_to 'Product', products_path %> |
<%= link_to 'Fabricante', fabricantes_path %> |
<%= link_to 'Admin', admins_path %> |
<%= link_to 'Category', categories_path %>

