<h1>Resultado da busca</h1>

	<div id="menu">
		<ul>
		<% @categories.each do |categoria| %>
			<li><%= link_to categoria.name, :controller => "menu", :action => "index", :id => categoria.id %></li>
		<% end %>
		</ul>
		
	</div>


<div class="conteudo">
	<% @resultados.each do |resultado|%>
	<% objeto = resultado.cast%>
	<h3><%=objeto.name%></h3>
	<%=truncate objeto.description, :length => 200%>
	<%=link_to 'mais', :controller => "interface_cliente", :action => "show_product", :produto => objeto.id %>
	<% end %>
	<p><%= will_paginate @posts %></p>
</div>	


