<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @photo.path %>
</p>

<p>
  <b>Product:</b>
  <%= @photo.product_id %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
