<p id="notice"><%= notice %></p>
<div class="conteudo">
<%= link_to 'Voltar para Admin', control_path %> 

<p>
  <b>Name:</b>
  <%= @fabricante.name %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @fabricante.cnpj %>
</p>

<p>
  <b>Phone:</b>
  <%= @fabricante.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @fabricante.address %>
</p>

<p>
  <b>Email:</b>
  <%= @fabricante.email %>
</p>


<%= link_to 'Edit', edit_fabricante_path(@fabricante) %> |
<%= link_to 'Back', fabricantes_path %> |
<%= link_to 'Voltar para Admin', controls_path %> |
<%= link_to 'Home', user_path %>
</div>

