<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Listagem de produtos</h1>
<div class="conteudo">
<%= link_to 'Novo Produto', new_product_path %>
<%= link_to 'Voltar para Admin', controls_path %>
<%= link_to 'Home', user_path %> 

<% @products.each do |product| %>
	<div class="entry">
		<h3><%=link_to product.name, :controller => "interface_cliente", :action => "show_product", :produto => product.id %></h3>
		<p>
		<% if product.photo.first %>
			<%= image_tag product.photo.first.image_url %>
		<% end %>
		</p>
		
		<p>
		<b>Description:</b>
			<%= truncate(strip_tags(product.description),
length: 80) %>

		</p>
			<div class="category_line">
				<% if product.category.name %>
					<span class="category"><%= product.category.name %></span>
				<% end %>	
			</div>
			
		<div class="price_line">
			 <%= number_to_currency(product.price) %>
		</div>
	</div>

	<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Você quer mesmo deletar este produto?' } %>
	<%= link_to 'Edit', edit_product_path(product) %>


<% end %>
</div>
