<p id="notice"><%= notice %></p>
<div class="conteudo">

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Main photo:</b>
  <%=image_tag( @product.photo) %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<div id="photos">
  <% for photo in @product.photo %>
    <div class="photo">
      <%= image_tag photo.image_url.to_s if photo.image? %>
      <div class="actions">
        <%= link_to "edit", edit_photo_path(photo) %> |
        <%= link_to "remove", photo, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p>
  <%= link_to "Adicionar uma foto", new_photo_path(:product_id => @product) %> |
  <%= link_to "Remover produto", @product, :confirm => 'Voce quer mesmo eliminar este produto?', :method => :delete %> |
  <%= link_to "Ver produtos", products_path %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Voltar para Admin', controls_path %>|
<%= link_to 'Home', user_path %>
</div>
