<p id="notice"><%= notice %></p>
<div class="conteudo">
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<div id="photos">
  <% for photo in @product.photo %>
    <div class="photo">
      <%= image_tag photo.image_url.to_s if photo.image? %>
  <% end %>
  <div class="clear"></div>
</div>

