<h1>Listing photos</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= image_tag photo.image_url.to_s if photo.image? %></td>
    <% if photo.product %>
      <td><%= photo.product.name %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
