<!DOCTYPE html>
<html>
<head>
  <title>FooBar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

	<%=form_tag buscas_path, :method => :get do %>
		Buscar por: <%=text_field_tag :busca, params[:busca] %> <%=submit_tag 'Buscar'%>
    <% end %>

<%= yield %>

</body>
</html>
