<!DOCTYPE html>
<html>
<head>
  <title>FooBar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="header">

	<span id="logo"><%= image_tag("logo.png") %></span>	
	<span id="links"> <%=form_tag buscas_path, :method => :get do %>
      	Buscar por: <%=text_field_tag :busca, params[:busca] %> <%=submit_tag 'Buscar'%>
   	<% end %></span> <br/>
	<h1>FooBar - Online Store</h1>
	
</div>
<div id="conteudo">


<%= yield %>
</div>

</body>
</html>
